:root {
    //declaracion de variables de color
    --dark-cyan: hsl(185,75%,39%);
    --very-dark-desaturated-blue: hsl(229,23%,23%);
    --dark-grayish-blue: hsl(227,10%,46%);
    --dark-gray: hsl(0,0%,59%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: var(--dark-cyan);
    background-image: url("../imagenes/bg-pattern-top.svg"),url("../imagenes/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.carta{
    background-color: #fff;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.315);
    //& llama a la clase actual que esta dentro
    &-cabeza {
        width: 100%;
        display: block;
    }
    &-cuerpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgb(199, 199, 199);
        &-img {//modificamos la imagen 
            width: 200px;
            height: 200px;
            border: 5px solid #fff;
            border-radius: 50%;
            margin-top: calc(-100px - 5px);
            background-color: #fff;
        }
        &-titulo {
            font-size: 1.8rem;
            margin-top: 2rem;
            text-transform: capitalize;
            span{
                color: var(--dark-gray);
                font-weight: 400;
            }
        }
        &-texto {
            color: var(--dark-gray);
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }
    &-pie {
        display: flex;
        justify-content: space-around;
        &-social {
            text-align: center;
            margin: 0.4rem 0;
            h3 {
                font-size: 1.8rem;
                color: var(--dark-gray);
            }
            p {
                letter-spacing: 1px;
            }
        }
    }
}